<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/editBanner.css">
</head>
<body>
    <div class="container">
        <div>
        <h2>Edit Banner</h2>
        </div>
        <div class="form-data">
        <form action="/editBanner/<%=bannerData._id%>" method="post" enctype="multipart/form-data">
            <label for="bannerText">Text</label>
            <input type="text" name="bannerText" value="<%=bannerData.bannerText%>">

            <label for="image">Image</label>
            <input type="file" multiple  id="image" name="bannerImage">

            <button type="submit">Submit</button>
        </form>
        </div>
    </div>
</body>
</html>